{%extends 'basicbg.html'%}
{%block body%}
{% load static tailwind_tags %}
{% tailwind_css %}
{%load static%}
{%load static%}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
</style>
<main class="p-2 md:p-16 ">
    <h2 class="text-3xl md:text-5xl font-light text-center my-8  text-black uppercase" style="font-family: Cinzel;">Our Services</h2>
    <div class="space-y-6 md:space-y-8 mt-20 lg:mt-40 font-light" style="font-family: Montserrat;">
        <!-- Under Construction Projects -->
        <div class="text-white p-4  ">
            <h3 class="text-xl font-semibold mb-4">Under Construction Projects</h3>
            <p class="text-lg text-justify">We offer a range of under construction projects, including buildings, villas, and bungalows. These properties are in various stages of development, providing you with opportunities to invest in future homes and properties.</p>
        </div>

        <!-- Ready to Move Projects -->
        <div class="text-white p-4 ">
            <h3 class="text-xl font-semibold mb-4">Ready to Move Projects</h3>
            <p class="text-lg text-justify">Our ready-to-move-in projects include a variety of buildings, villas, and bungalows. These properties are available for immediate occupancy, offering you a hassle-free moving experience.</p>
        </div>

        <!-- Rented Homes -->
        <div class="text-white p-4 ">
            <h3 class="text-xl font-semibold mb-4">Rented Homes</h3>
            <p class="text-lg text-justify">Currently, our website does not have a search function for rented homes. However, we do offer a selection of rented properties. Please contact us directly for information on available rentals.</p>
            <p class="mt-4 font-semibold">Contact us for rented homes:</p>
            <a href="/contact" class="inline-block bg-white bg-opacity-5 border border-white  text-center items-center text-white px-3 py-1 hover:bg-white duration-300 mt-6 hover:text-black" style="font-family: Cinzel;">Get in Touch</a>
        </div>
    </div>
</main>
{%endblock%}