body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    margin: 0;
    padding: 0;
  }

  .navbar {
    background-color: #333;
    overflow: hidden;
  }

  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }

  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  .container {
    padding: 20px;
  }

  .search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .search-bar input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .search-bar button {
    padding: 10px 20px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: hsl(46, 96%, 49%);
    color: #000000;
    cursor: pointer;
  }

  .search-bar button:hover {
    background-color: #555;
  }

  .filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .filters select {
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .filters button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5be0b;
    color: #000000;
    cursor: pointer;
  }

  .filters button:hover {
    background-color: #555;
  }

  .content {
    text-align: center;
  }
  
 .property a{
  text-decoration: none;
  color: rgb(0, 255, 42);
  
 }