{%extends 'basicbg.html'%}
{%block body%}
{% load static tailwind_tags %}
{% tailwind_css %}
{%load static%}
<div class=" p-8 md:p-16 text-white lg:backdrop-blur-sm">
    <h1 class="text-3xl md:text-5xl font-bold text-center">About Us</h1>
    <div class=" rounded-2xl lg:p-4 ">
        <p class="mt-20 lg:mt-44 text-white text-justify  md:text-lg">NCPR Homes was established with a clear vision to
            revolutionize the real estate industry by offering unparalleled expertise and personalized service. Our
            mission is to guide clients through the complexities of real estate transactions, whether for investment or
            personal use, ensuring they make informed decisions every step of the way. With a deep understanding of the
            market and a commitment to excellence, we strive to be the trusted partner our clients can rely on.</p>
        <p class="mt-4 text-white text-justify md:text-lg">At NCPR Homes, we believe that real estate is not just about
            buying and selling properties; it's about creating lasting value and building communities. Our team of
            seasoned professionals is dedicated to delivering tailored solutions that meet the unique needs and goals of
            each client. We pride ourselves on our integrity, transparency, and ability to provide insightful advice
            that empowers our clients to achieve their real estate objectives.</p>
        <p class="mt-4 text-white text-justify md:text-lg"> Our company culture is rooted in a passion for real estate
            and a dedication to client satisfaction. We take the time to understand our clients' aspirations and work
            tirelessly to exceed their expectations. Whether you're a first-time homebuyer or a seasoned investor, NCPR
            Homes is here to provide the guidance, resources, and support you need to navigate the real estate landscape
            with confidence.</p>
        <p class="mt-4 text-white text-justify md:text-lg">
            NCPR Homes is more than just a real estate advisory firm; we are a community of professionals committed to
            making a positive impact on the lives of our clients and the neighborhoods we serve. Our approach is
            client-centric, focused on building long-term relationships based on trust and mutual respect. We invite you
            to experience the NCPR Homes difference and discover how we can help you achieve your real estate dreams.
        </p>


        <!-- Social Media Links -->
        <div class="flex justify-center space-x-12 mt-16">
            <a href="https://www.linkedin.com/company/ncpr-homes/"
                class="text-blue-400 hover:text-white font-semibold ">LinkedIn</a>
            <a href="https://www.youtube.com/channel/UCQ5ufNstvJGst642QJCFGwA"
                class="text-red-400 hover:text-white font-semibold">YouTube</a>
            <a href="https://www.facebook.com/people/NCPR-HOMES/61550468357089/"
                class="text-blue-600 hover:text-white font-semibold">Facebook</a>
        </div>
    </div>
</div>
{%endblock%}