<!DOCTYPE html>
<html lang="en">

<head>
    {% load static tailwind_tags %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Home UI</title>
    {% tailwind_css %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        /* Custom styles for fade-in and fade-out animations */
        .fade-in {
            animation: fadeIn 0.3s forwards;
        }

        .fade-out {
            animation: fadeOut 0.3s forwards;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: scale(0.95);
            }

            to {
                opacity: 1;
                transform: scale(1);
            }
        }

        @keyframes fadeOut {
            from {
                opacity: 1;
                transform: scale(1);
            }

            to {
                opacity: 0;
                transform: scale(0.95);
            }
        }

        #slideshow {
            display: flex;
            overflow-x: hidden;
            scroll-behavior: smooth;
            white-space: nowrap;
            padding-bottom: 2rem;
        }
    </style>
</head>

<body class="">
    <!-- <link rel="stylesheet" href="{% static 'css/main.css' %}"> -->

    <script src="{%static 'js/filter.js'%}"></script>

    <div class="navbar-lg lg:hidden hidden flex flex-col bg-white shadow-lg rounded-lg p-4  absolute mt-12 lg:m-0 lg:w-fit w-1/2 h-full space-y-4  lg:font-semibold "
    id="menu">
    <a href="#home" class="border-b p-3 lg:border-none lg:text-lg hover:bg-orange-500 rounded-xl  hover:text-black">Home</a>
    <a href="#about" class="border-b p-3 lg:border-none lg:text-lg hover:bg-orange-500 rounded-xl   hover:text-black">About</a>
    <a href="#services" class="border-b p-3 lg:border-none lg:text-lg hover:bg-orange-500 rounded-xl  hover:text-black">Services</a>
    <a href="#contact" class="border-b p-3 lg:border-none  lg:text-lg hover:bg-orange-500 rounded-xl  hover:text-black">Contact</a>
</div>

    <div class="navbar flex justify-between bg-orange-500 p-2 w-screen items-center fixed lg:sticky top-0">
        <div class="navbar-lg hidden flex flex-col bg-white lg:bg-transparent shadow-lg lg:shadow-none rounded-lg p-4 lg:static absolute mt-12 lg:m-0 lg:w-fit lg:space-x-6 w-1/2 h-full space-y-4 lg:block lg:text-white lg:font-semibold ">
            <a href="#home" class="border-b p-3 lg:border-none lg:text-lg hover:bg-orange-500 rounded-xl  hover:text-black">Home</a>
            <a href="#about" class="border-b p-3 lg:border-none lg:text-lg hover:bg-orange-500 rounded-xl   hover:text-black">About</a>
            <a href="#services" class="border-b p-3 lg:border-none lg:text-lg hover:bg-orange-500 rounded-xl  hover:text-black">Services</a>
            <a href="#contact" class="border-b p-3 lg:border-none  lg:text-lg hover:bg-orange-500 rounded-xl  hover:text-black">Contact</a>
        </div>
        <div class="hamburger lg:hidden " id="hamburger">
            <svg class="w-8 h-8 text-white duration-300 cursor-pointer" fill="none" stroke="currentColor"
                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M4 6h16M4 12h16M4 18h16">
                </path>
            </svg>
        </div>
        <div class="search-bar flex justify-center">
            <input disabled type="text" placeholder="" id="animated-input"
                class="rounded-s-full h-8 lg:w-[30vw] border-none placeholder:text-black">
            <button disabled
                class="bg-white h-8 w-fit px-2 rounded-e-full font-semibold border-black text-orange-500 hover:text-white hover:bg-red-500 duration-300">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </button>

        </div>
        <div class="company-logo">
            <img src="/media/icons/image.png" alt="harsh" class="h-9 lg:h-16">
        </div>
    </div>
    <script>
        const input = document.getElementById('animated-input');
        const placeholders = ["Looking for a home?", "Trouble finding one?", "Try NCPR!!!"];
        let currentText = '';
        let currentPlaceholderIndex = 0;
        let currentCharIndex = 0;
        document.addEventListener("DOMContentLoaded", function () {
            const hamburger = document.getElementById('hamburger');
            const menu = document.getElementById('menu');

            hamburger.addEventListener('click', function () {
                if (menu.classList.contains('hidden')) {
                    menu.classList.remove('hidden');
                    menu.classList.remove('fade-out');
                    menu.classList.add('fade-in');
                } else {
                    menu.classList.remove('fade-in');
                    menu.classList.add('fade-out');
                    setTimeout(() => {
                        menu.classList.add('hidden');
                    }, 300); // Match the duration of the fade-out animation
                }
            });
        });


        function type() {
            if (currentCharIndex < placeholders[currentPlaceholderIndex].length) {
                currentText += placeholders[currentPlaceholderIndex][currentCharIndex];
                input.setAttribute('placeholder', currentText);
                currentCharIndex++;
                setTimeout(type, 100); // Adjust typing speed here
            } else {
                setTimeout(erase, 2000); // Adjust the pause before erasing here
            }
        }

        function erase() {
            if (currentCharIndex > 0) {
                currentText = currentText.slice(0, -1);
                input.setAttribute('placeholder', currentText);
                currentCharIndex--;
                setTimeout(erase, 50); // Adjust erasing speed here
            } else {
                currentPlaceholderIndex = (currentPlaceholderIndex + 1) % placeholders.length;
                setTimeout(type, 500); // Adjust the pause before typing the next placeholder here
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            setTimeout(type, 500); // Adjust initial delay here
        });

        //Slideshow code
document.addEventListener('DOMContentLoaded', () => {
    const slideshow = document.getElementById('slideshow');
    const scrollStep = slideshow.clientWidth;
    const scrollInterval = 3000; // Adjust this value to control the speed of the slideshow
    let scrollAmount = 0;

    const property = [
        {% for property in properties %}
        {
            imgSrc: "/media/{{property.main_img}}",
            title: "{{ property.title }}",
            price: "{{ property.price }}",
            bedrooms: "{{ property.bedrooms }}BHK",
            city: "{{ property.city }}- {{property.zip_code }}"
        },
        {% endfor %}
    ];

    function updateDescription(index) {
        const descriptionContainer = document.getElementById('description');
        descriptionContainer.innerHTML = `
            <h2 class="font-semibold text-xl">${property[index].title}</h2>
            <div class="flex gap-x-5 font-semibold text-gray-800 text-xl">
                <p>₹ ${property[index].price}</p>
                <p>|</p>
                <p>${property[index].bedrooms}</p>
            </div>
            <p>${property[index].city}</p>
        `;
    }

    function autoScroll() {
        if (scrollAmount >= slideshow.scrollWidth - slideshow.clientWidth) {
            scrollAmount = 0;
        } else {
            scrollAmount += scrollStep;
        }
        slideshow.scrollTo({
            top: 0,
            left: scrollAmount,
            behavior: 'smooth'
        });

        const index = Math.floor(scrollAmount / scrollStep);
        updateDescription(index);
    }

    setInterval(autoScroll, scrollInterval);

    // Initial description update
    updateDescription(0);
});

    </script>
    <div class="!mt-16 lg:!mt-6 filters flex justify-center items-center w-screen mb-4 ">
        <form method="get" action="{% url 'filteroption'%}">
            <select id="city" name="city"
                class="rounded-lg h-10 w-20 border border-orange-400 overflow-y-scroll text-gray-700">

                <option value="" class="">City</option>
                {% for city in cities %}
                <option value="{{ city }}">{{ city }}</option>
                {% endfor %}

            </select>

            <select id="project" name="project"
                class="rounded-lg h-10 border-orange-400 overflow-y-scroll text-gray-700">
                <option value="">Project</option>
            </select>

            <select id="price_range" name="price_range"
                class="rounded-lg h-10 w-[6rem] border-orange-400 overflow-y-scroll text-gray-700">
                <option value="">Price</option>
                <option value="10">10-20 lakh</option>
                <option value="20">20-30 lakh</option>
                <option value="30">30-50 lakh</option>
                <option value="50">50-70 lakh</option>
                <option value="70">70-90 lakh</option>
                <option value="1">Above 1Cr</option>
            </select>

            <button
                class="bg-orange-400 h-8 w-fit px-2 rounded-lg text-white font-semibold hover:bg-orange-500 active:border border-black">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                    width="20px" height="20px" viewBox="0 0 256 256" xml:space="preserve">

                    <defs>
                    </defs>
                    <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                        transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                        <path
                            d="M 52.537 80.466 V 45.192 L 84.53 2.999 C 85.464 1.768 84.586 0 83.041 0 H 6.959 C 5.414 0 4.536 1.768 5.47 2.999 l 31.994 42.192 v 43.441 c 0 1.064 1.163 1.719 2.073 1.167 l 11.758 -7.127 C 52.065 82.205 52.537 81.368 52.537 80.466 z"
                            style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255, 255, 255); fill-rule: nonzero; opacity: 1;"
                            transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                    </g>
                </svg>
            </button>
        </form>
    </div>



    </div>
    <div class="slideshow w-screen h-1/3 lg:h-[30vw] overflow-hidden lg:relative" id="slideshow">
        {% for property in properties %}
        <a href="/main/prop_view/{{property.id}}">
            <div class="property w-[100vw] h-[90vw] rounded-lg p-1 border flex flex-col bg-white">
                <div class="display h-[70%] w-full overflow-hidden rounded-lg">
                    <img src="/media/{{property.main_img}}" alt="Beautiful Family Home"
                        class="object-cover object-center w-full h-full lg:object-contain">
                </div>
                <div class="description space-y-2 mx-2 lg:absolute lg:bg-white lg:p-10 !lg:rounded-2xl " id="description-{{ forloop.counter }}">
                    <h2 class="font-semibold text-xl lg:text-3xl">{{ property.title }}</h2>
                    <div class="flex gap-x-5 font-semibold text-gray-800 text-xl lg:text-2xl">
                        <p>₹ {{ property.price }}</p>
                        <p>|</p>
                        <p>{{ property.bedrooms }}BHK</p>
                    </div>
                    <p class="lg:text-xl"> {{ property.city }}- {{property.zip_code }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    
    <div class="projects m-2 space-y-2">
        <h2 class="font-semibold text-xl underline ">ALL ></h2>
        <div class="flex space-x-2 overflow-x-scroll pb-2">
            {% for property in properties %}
            <a href="/main/prop_view/{{property.id}}">
                <div class="property w-[80vw] h-[90vw] rounded-lg p-1 border flex flex-col bg-white">
                    <div class="display h-[70%] w-full overflow-hidden rounded-lg">
                        <img src="/media/{{property.main_img}}" alt="Beautiful Family Home"
                            class="object-cover object-center w-full h-full">
                    </div>
                    <div class="description space-y-2 mx-2">
                        <h2 class="font-semibold text-xl">{{ property.title }}</h2>
                        <div class="flex gap-x-5 font-semibold text-gray-800 text-xl">
                            <p>₹ {{ property.price }}</p>
                            <p>|</p>
                            <p>{{ property.bedrooms }}BHK</p>
                        </div>
                        <p> {{ property.city }}- {{property.zip_code }}</p>

                    </div>
                </div>
            </a>

            {% endfor %}
        </div>


        <h2 class="font-semibold text-xl underline bg-transparent ">READY TO MOVE ></h2>
        <div class="flex space-x-2 overflow-x-scroll pb-2">
            {% for property in rtm %}
            <a href="/main/prop_view/{{property.id}}">
                <div class="property w-[80vw] h-[90vw] rounded-lg p-1 border flex flex-col bg-white">
                    <div class="display h-[70%] w-full overflow-hidden rounded-lg">
                        <img src="/media/{{property.main_img}}" alt="Beautiful Family Home"
                            class="object-cover object-center w-full h-full">
                    </div>
                    <div class="description space-y-2 mx-2 ">
                        <h2 class="font-semibold text-xl">{{ property.title }}</h2>
                        <div class="flex gap-x-5 font-semibold text-gray-800 text-xl">
                            <p>₹ {{ property.price }}</p>
                            <p>|</p>
                            <p>{{ property.bedrooms }}BHK</p>
                        </div>
                        <p> {{ property.city }}, - {{property.zip_code }}</p>

                    </div>
                </div>
            </a>

            {% endfor %}
        </div>

        <h2 class="font-semibold text-xl underline">UNDER CONSTRUCTION ></h2>
        <div class="flex space-x-2 overflow-x-scroll pb-2">
            {% for property in properties %}
            <a href="/main/prop_view/{{property.id}}">
                <div class="property w-[80vw] h-[90vw] rounded-lg p-1 border flex flex-col bg-white">
                    <div class="display h-[70%] w-full overflow-hidden rounded-lg">
                        <img src="/media/{{property.main_img}}" alt="Beautiful Family Home"
                            class="object-cover object-center w-full h-full">
                    </div>
                    <div class="description space-y-2 mx-2 ">
                        <h2 class="font-semibold text-xl">{{ property.title }}</h2>
                        <div class="flex gap-x-5 font-semibold text-gray-800 text-xl">
                            <p>₹ {{ property.price }}</p>
                            <p>|</p>
                            <p>{{ property.bedrooms }}BHK</p>
                        </div>
                        <p>{{ property.city }}- {{property.zip_code }}</p>

                    </div>
                </div>
            </a>

            {% endfor %}
        </div>

        <h2 class="font-semibold text-xl underline ">COST EFFICIENT></h2>
        <div class="flex space-x-2 overflow-x-scroll pb-2">
            {% for property in ce %}
            <a href="/main/prop_view/{{property.id}}">
                <div class="property w-[80vw] h-[90vw] rounded-lg p-1 border flex flex-col bg-white">
                    <div class="display h-[70%] w-full overflow-hidden rounded-lg">
                        <img src="/media/{{property.main_img}}" alt="Beautiful Family Home"
                            class="object-cover object-center w-full h-full">
                    </div>
                    <div class="description bg-white space-y-2 mx-2 ">
                        <h2 class="font-semibold text-xl">{{ property.title }}</h2>
                        <div class="flex gap-x-5 font-semibold text-gray-800 text-xl">
                            <p>₹ {{ property.price }}</p>
                            <p>|</p>
                            <p>{{ property.bedrooms }}BHK</p>
                        </div>
                        <p> {{ property.city }}- {{property.zip_code }}</p>

                    </div>
                </div>
            </a>

            {% endfor %}
        </div>
    </div>
</body>

</html>