<!DOCTYPE html>
<html lang="en">

<head>
    {% load static tailwind_tags %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> NCPR-HOMES</title>
    {% tailwind_css %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        /* Custom styles for fade-in and fade-out animations */
        .fade-in {
            animation: fadeIn 0.3s forwards;
        }

        .fade-out {
            animation: fadeOut 0.3s forwards;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: scale(0.95);
            }

            to {
                opacity: 1;
                transform: scale(1);
            }
        }

        @keyframes fadeOut {
            from {
                opacity: 1;
                transform: scale(1);
            }

            to {
                opacity: 0;
                transform: scale(0.95);
            }
        }

        @keyframes typing {
            from {
                width: 0;
            }

            to {
                width: 100%;
            }
        }

        .typing-text {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            /* Ensure the text itself is centered */
        }

        .typing-text span {
            display: inline-block;
            min-width: 16ch;
            /* Adjust this value based on the length of your longest text */
            text-align: center;
        }

        #achievements {
            font-family: "IBM Plex Serif";
        }

        .price {
            font-family: "Cinzel";
           
        }

        select {
            color: #333;
            /* Default text color */
            background-color: #f2f2f2;
            /* Default background color */
        }

        /* Change the color of all options */
        select option {
            color: #333;
            /* Color of the option text */
            background-color: #f2f2f2;
            /* Background color of the option */
        }
        select option:hover {
            color: #333;
            /* Color of the option text */
            background-color: #f2f2f2;
            /* Background color of the option */
        }


        /* For styling the selected option */
        select option:checked {
            background-color: #f2f2f2;
            /* Background color of the selected option */
            color: #000;
            /* Text color of the selected option */
        }

        /* Scrollbar styling for Chrome, Safari, and Edge */
        ::-webkit-scrollbar {
            width: 10px;
        }

        ::-webkit-scrollbar-track {
            background: transparent;
            /* Dark background for track */
        }

        ::-webkit-scrollbar-thumb {
            background-color: transparent;
            /* Dark gray thumb */
            border-radius: 10px;
            border: 2px solid #1e1e1e;
            /* Match track background to make thumb appear smaller */
        }

        ::-webkit-scrollbar-thumb:hover {
            background-color: transparent;
            /* Lighter gray on hover */
        }

  
  /* Scrollbar styling for Firefox */
  html {
    scrollbar-width: thin;
    scrollbar-color: #888 #1e1e1e; /* Thumb color #888, track color #1e1e1e */
  }
  
  html:hover {
    scrollbar-color: #555 #1e1e1e; /* Change thumb color on hover */
  }
  
    </style>
    <script src="{% static 'js/pincode.js' %}"></script>
  
</head>
<script>document.addEventListener('DOMContentLoaded', function () {
    // Find the message bar and progress bar elements
    var messageBar = document.getElementById('message-bar');
    var progressBar = document.getElementById('progress-bar');

    if (messageBar && progressBar) {
        // Set initial width of the progress bar to 100%
        progressBar.style.width = '100%';

        // Duration for how long the message bar will be visible (5 seconds)
        var duration = 5000;

        // Use CSS transitions to animate the progress bar in reverse
        progressBar.style.transition = `width ${duration}ms linear`;
        setTimeout(() => {
            progressBar.style.width = '0%';
        }, 0);

        // Hide the message bar after the duration
        setTimeout(function () {
            messageBar.style.display = 'none';
        }, duration);
    }
});

// Function to manually hide the message bar when close button is clicked
function hideMessageBar() {
    var messageBar = document.getElementById('message-bar');
    if (messageBar) {
        messageBar.style.display = 'none';
    }
}
</script>
<body class="bg-black uppercase"  style="font-family: Cinzel;">


    >{% if messages %}
    <div id="message-bar"
        class="fixed top-4 left-1/2 transform -translate-x-1/2 w-full max-w-md bg-green-500 text-white px-6 py-4 rounded-lg shadow-lg flex flex-col items-center" >
        <div class="flex justify-between items-center w-full">

            <button onclick="hideMessageBar()" class="text-white hover:text-red-500">&times;</button>
        </div>
        {% for message in messages %}
        <p class="mt-2 text-center">{{ message }}</p>
        {% endfor %}
        <div class="relative w-full h-1 bg-white mt-4 rounded-full">
            <!-- Progress Bar that runs in reverse -->
            <div id="progress-bar" class="absolute left-0 top-0 h-full bg-orange-400 rounded-full"></div>
        </div>
    </div>
    {% endif %}

    <div class="bg-image bg-[url('/media/icons/bgimage.jpg')] h-[20rem] lg:h-[40rem] w-full bg-no-repeat bg-cover">


        <div class="navbar-lg lg:hidden hidden flex flex-col bg-transparent text-white font-medium shadow-lg rounded-lg p-4 absolute mt-12 lg:m-0 lg:w-fit w-full h-full z-10 space-y-4 "
            id="menu">
            <a href="/ "
                class="border-b p-3 lg:border-none lg:text-lg  hover:backdrop-blur-xl ">Home</a>
                <a href="/contact_agent"
                class="border-b p-3 lg:border-none  lg:text-lg  hover:backdrop-blur-xl ">Contact</a>
                <a href="/services"
                class="border-b p-3 lg:border-none lg:text-lg  hover:backdrop-blur-xl ">Services</a>
            <a href="/about"
                class="border-b p-3 lg:border-none lg:text-lg  hover:backdrop-blur-xl ">About</a>
            
            
        </div>

        <div class="navbar flex justify-between bg-transparent p-2 w-screen items-center top-0 overflow-hidden">
            <div
                class="navbar-lg hidden flex flex-col lg:bg-transparent lg:shadow-none rounded-lg lg:static lg:ml-2 lg:w-fit lg:space-x-14 lg:block lg:text-white  overflow-hidden  ">
                <a href=" " class=" lg:border-none   hover:text-black duration-300">HOME</a>
                <a href="/contact_agent" class=" lg:border-none    hover:text-black duration-300 uppercase">Contact</a>
                <a href="/services" class=" lg:border-none   hover:text-black duration-300 uppercase">Services</a>
                <a href="/about" class="lg:border-none    hover:text-black duration-300 uppercase">About</a>
               
                
            </div>
            <div class="hamburger lg:hidden flex items-center" id="hamburger">
                <!-- Default Image -->
                <svg id="hamburger-img" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                    <path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5L12 5L19 5M5 12H19M5 19L12 19L19 19"></path>
                  </svg>
                  
                  
                <!-- SVG (hidden initially) -->
                <svg xmlns="http://www.w3.org/2000/svg" id="hamburger-svg" class="h-8 hidden" viewBox="0 0 24 24">
                  <path
                    fill="none"
                    stroke="#fff"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 5L12 5L19 5M5 12H19M5 19L12 19L19 19"
                    id="hamburger-path"
                  >
                    <animate
                      id="svg-animation"
                      fill="freeze"
                      attributeName="d"
                      dur="0.4s"
                      values="M5 5L12 5L19 5M5 12H19M5 19L12 19L19 19;
                              M5 5L12 12L19 5M12 12H12M5 19L12 12L19 19"
                      begin="indefinite"
                    />
                  </path>
                </svg>
              </div>
            
            <div class="company-logo mr-[4vw] lg:ml-[8vw]  lg:order-2 md:m-0">
                <img src="/media/icons/image1.png" alt="harsh" class="h-8 lg:h-12">
            </div>
            <div class="invisible lg:w-1/3 lg:order-3 ">
            </div>
        </div>

        <div class=" flex justify-center items-center mt-16 lg:mt-40 lg:mb-20 h-0">
            <div class="typing-text text-2xl lg:text-3xl text-black h-6 uppercase">
                <span id="typing-content"></span>
            </div>

        </div>

        <div
            class=" filters flex justify-center items-center w-[90vw] lg:w-[60vw] mx-[5vw] lg:mx-[20vw] mb-4 bg-transparent sm:border lg:border-none border-white m-1 bg-white  bg-opacity-20 rounded-3xl mt-28 lg:mt-14 shadow-2xl shadow-black">
            <form method="GET" action="{% url 'filteroption'%}" class=" flex items-center">
                <select id="city" name="city"
                    class=" h-10 w-24 lg:w-32 border-none bg-transparent overflow-y-scroll text-white  lg:text-black  focus:outline-none focus:ring-0 focus:border-transparent ">

                    <option value="City" class="text-sm">City</option>
                    {% for city in cities %}
                    <option value="{{ city }}" class="text-sm ">{{ city }}</option>
                    {% endfor %}
                </select>

                <select id="size" name="size"
                    class=" h-10 border-none bg-transparent overflow-y-scroll text-white lg:text-black focus:outline-none focus:ring-0 focus:border-transparent w-24 lg:w-28">
                    <option value='0' class="text-sm inh">Size</option>
                    {% for size in bedrooms %}
                    <option value="{{ size }}" class="text-sm">{{ size }} BHK</option>
                    {% endfor %}
                </select>


                <select id="price_range" name="price_range"
                    class=" h-10 w-24 border-none bg-transparent overflow-y-scroll text-white  lg:text-black focus:outline-none focus:ring-0 focus:border-transparent lg:w-32">
                    <option value='0' class="text-sm">Price</option>
                    <option value="10" class="text-sm">10-20 lakh</option>
                    <option value="20" class="text-sm">20-30 lakh</option>
                    <option value="30" class="text-sm">30-50 lakh</option>
                    <option value="50" class="text-sm">50-70 lakh</option>
                    <option value="70" class="text-sm">70-90 lakh</option>
                    <option value="1" class="text-sm">Above 1Cr</option>
                </select>

                <button
                    class="bg-transparent lg:hidden text-white md:block  font-semibold border-none duration-300 translate-y-1 pl-2 pb-2 ">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20"
                        viewBox="0,0,256,256">
                        <g fill="#ffffff " fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                            font-family="none" font-weight="none" font-size="none" text-anchor="none"
                            style="mix-blend-mode: normal">
                            <g transform="scale(9.84615,9.84615)">
                                <path
                                    d="M10,0.1875c-5.42187,0 -9.8125,4.39063 -9.8125,9.8125c0,5.42188 4.39063,9.8125 9.8125,9.8125c2.28906,0 4.39453,-0.80859 6.0625,-2.125l0.875,0.875c-0.36719,0.69141 -0.23828,1.57422 0.34375,2.15625l4.59375,4.625c0.71484,0.71484 1.87891,0.71484 2.59375,0l0.875,-0.875c0.71484,-0.71484 0.71484,-1.87891 0,-2.59375l-4.625,-4.59375c-0.58594,-0.58594 -1.46484,-0.6875 -2.15625,-0.3125l-0.875,-0.875c1.32422,-1.67187 2.125,-3.79297 2.125,-6.09375c0,-5.42187 -4.39062,-9.8125 -9.8125,-9.8125zM10,2c4.41797,0 8,3.58203 8,8c0,4.41797 -3.58203,8 -8,8c-4.41797,0 -8,-3.58203 -8,-8c0,-4.41797 3.58203,-8 8,-8zM4.9375,7.46875c-0.51562,0.83594 -0.8125,1.82031 -0.8125,2.875c0,3.02734 2.44141,5.46875 5.46875,5.46875c1.16797,0 2.26563,-0.37891 3.15625,-1c-0.23828,0.02734 -0.50391,0.03125 -0.75,0.03125c-3.91406,0 -7.0625,-3.14844 -7.0625,-7.0625c0,-0.10547 -0.00391,-0.20703 0,-0.3125z">
                                </path>
                            </g>
                        </g>
                    </svg>
                </button>
                <button
                    class="bg-transparent hidden lg:block text-white md:hidden font-semibold border-none duration-300 translate-y-1 pl-2 align-middle leading-none pb-2 ">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20"
                        viewBox="0,0,256,256">
                        <g fill="#000000" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                            font-family="none" font-weight="none" font-size="none" text-anchor="none"
                            style="mix-blend-mode: normal">
                            <g transform="scale(9.84615,9.84615)">
                                <path
                                    d="M10,0.1875c-5.42187,0 -9.8125,4.39063 -9.8125,9.8125c0,5.42188 4.39063,9.8125 9.8125,9.8125c2.28906,0 4.39453,-0.80859 6.0625,-2.125l0.875,0.875c-0.36719,0.69141 -0.23828,1.57422 0.34375,2.15625l4.59375,4.625c0.71484,0.71484 1.87891,0.71484 2.59375,0l0.875,-0.875c0.71484,-0.71484 0.71484,-1.87891 0,-2.59375l-4.625,-4.59375c-0.58594,-0.58594 -1.46484,-0.6875 -2.15625,-0.3125l-0.875,-0.875c1.32422,-1.67187 2.125,-3.79297 2.125,-6.09375c0,-5.42187 -4.39062,-9.8125 -9.8125,-9.8125zM10,2c4.41797,0 8,3.58203 8,8c0,4.41797 -3.58203,8 -8,8c-4.41797,0 -8,-3.58203 -8,-8c0,-4.41797 3.58203,-8 8,-8zM4.9375,7.46875c-0.51562,0.83594 -0.8125,1.82031 -0.8125,2.875c0,3.02734 2.44141,5.46875 5.46875,5.46875c1.16797,0 2.26563,-0.37891 3.15625,-1c-0.23828,0.02734 -0.50391,0.03125 -0.75,0.03125c-3.91406,0 -7.0625,-3.14844 -7.0625,-7.0625c0,-0.10547 -0.00391,-0.20703 0,-0.3125z">
                                </path>
                            </g>
                        </g>
                    </svg>
                </button>
            </form>
        </div>
        <div class=" section-achievements text-white text-lg my-6 lg:my-16   space-x-3 mx-2 flex justify-center ">
            <div class="inline-flex items-center space-x-2">
                <img src="/media/icons/achv1.png" alt="" class="h-8 w-8  ">
                <span class="flex items-center"><span class="text-xl mr-2 font-semibold">1K+ </span><span
                        class="smile lg:font-semibold">Happy Customers</span>
            </div>
        </div>
        <!-- NearBy City Section -->
        <div>


            <div class="" style="color: white;" id="output"></div>
            <div class="projects m-2 pt-2 space-y-2 lg:space-y-5 px-2">
                <h2 class=" text-lg ml-2 text-white">   <span id="Nearby-city-name"></span></h2>
                <div class="flex space-x-2 lg:space-x-4 pb-5 lg:pb-10 " style="font-family: Montserrat;" id="properties-container">
                    <!-- Properties will be dynamically inserted here -->
                </div> 
            </div>
            
        <div class="projects m-2 pt-2 lg:space-y-5 px-2">
            <h2 class=" text-lg ml-2 text-white my-5">All ></h2>
            <div class="flex space-x-2 overflow-x-scroll lg:space-x-4 pb-5 lg:pb-10 " style="font-family: Montserrat;">
                {% for property in properties %}
                <a href="prop_view/{{property.id}}">
                    <div class="property w-[180px] h-[310px] lg:w-[250px] lg:h-[428px] flex flex-col relative group">
                        <div class="display h-full w-full overflow-hidden rounded-2xl">
                            <img src="/media/{{property.main_img}}" alt="Beautiful Family Home"
                                class="object-cover object-center w-full h-full group-hover:scale-110 duration-500">
                        </div>
                        <div
                            class="description h-[43%] lg:h-[37%] lg:mt-[111%] w-full space-y-2 px-2 py-1 mt-[100%] absolute backdrop-blur-lg rounded-2xl lg:space-y-4 text-sm">
                            <h2
                                class="font-semibold !text-xl price">
                                ₹ {{ property.price2 }}</h2>
                            <div class="flex gap-x-5 h-6 overflow-hidden text-white">
                                <p> {{ property.title }}</p>
                                <p>|</p>
                                <p>{{ property.bedrooms }}BHK</p>
                            </div>
                            <p class="text-white"> {{ property.city }}- {{property.zip_code }}</p>
                            <div
                                class="flex justify-between items-center rounded-full border border-black px-2 -mx-1">
                                <span class="text-xs">
                                    More details
                                </span>
                                <span class="group-hover:rotate-[360deg] duration-500">
                                    <img src="/media/icons/arrow.png" alt="" class="h-6">
                                </span>
                            </div>

                        </div>
                    </div>
                </a>

                {% endfor %}
            </div>


            <a href="/special_filter/2">
                <h2 class=" text-lg ml-2 text-white my-5">Ready to move ></h2>
            </a>
            <div class="flex space-x-2 overflow-x-scroll lg:space-x-4 pb-5 lg:pb-10 " style="font-family: Montserrat;">
                {% for property in rtm %}
                <a href="prop_view/{{property.id}}">
                    <div class="property w-[180px] h-[310px] lg:w-[250px] lg:h-[428px] flex flex-col relative group">
                        <div class="display h-full w-full overflow-hidden rounded-2xl">
                            <img src="/media/{{property.main_img}}" alt="Beautiful Family Home"
                                class="object-cover object-center w-full h-full group-hover:scale-110 duration-500">
                        </div>
                        <div
                            class="description h-[43%] lg:h-[37%] lg:mt-[111%] w-full space-y-2 px-2 py-1 mt-[100%] absolute backdrop-blur-lg rounded-2xl lg:space-y-4 text-sm">
                            <h2
                                class="font-semibold !text-xl price">
                                ₹ {{ property.price2 }}</h2>
                            <div class="flex gap-x-5 h-6 overflow-hidden text-white">
                                <p> {{ property.title }}</p>
                                <p>|</p>
                                <p>{{ property.bedrooms }}BHK</p>
                            </div>
                            <p class="text-white"> {{ property.city }}- {{property.zip_code }}</p>
                            <div
                                class="flex justify-between items-center rounded-full border border-black px-2 -mx-1">
                                <span class="text-xs">
                                    More details
                                </span>
                                <span class="group-hover:rotate-[360deg] duration-500">
                                    <img src="/media/icons/arrow.png" alt="" class="h-6">
                                </span>
                            </div>

                        </div>
                    </div>
                </a>

                {% endfor %}
            </div>

            <a href="/special_filter/1">
                <h2 class=" text-lg ml-2 text-white my-5">Under Construction ></h2>
            </a>
            <div class="flex space-x-2 overflow-x-scroll lg:space-x-4 pb-5 lg:pb-10 " style="font-family: Montserrat;">
                {% for property in uc %}
                <a href="prop_view/{{property.id}}">
                    <div class="property w-[180px] h-[310px] lg:w-[250px] lg:h-[428px] flex flex-col relative group">
                        <div class="display h-full w-full overflow-hidden rounded-2xl">
                            <img src="/media/{{property.main_img}}" alt="Beautiful Family Home"
                                class="object-cover object-center w-full h-full group-hover:scale-110 duration-500">
                        </div>
                        <div
                            class="description h-[43%] lg:h-[37%] lg:mt-[111%] w-full space-y-2 px-2 py-1 mt-[100%] absolute backdrop-blur-lg rounded-2xl lg:space-y-4 text-sm">
                            <h2
                                class="font-semibold !text-xl price">
                                ₹ {{ property.price2 }}</h2>
                            <div class="flex gap-x-5 h-6 overflow-hidden text-white">
                                <p> {{ property.title }}</p>
                                <p>|</p>
                                <p>{{ property.bedrooms }}BHK</p>
                            </div>
                            <p class="text-white"> {{ property.city }}- {{property.zip_code }}</p>
                            <div
                                class="flex justify-between items-center rounded-full border border-black px-2 -mx-1">
                                <span class="text-xs">
                                    More details
                                </span>
                                <span class="group-hover:rotate-[360deg] duration-500">
                                    <img src="/media/icons/arrow.png" alt="" class="h-6">
                                </span>
                            </div>

                        </div>
                    </div>
                </a>

                {% endfor %}
            </div>

            
            <a href="/special_filter/3">
                <h2 class=" text-lg ml-2 text-white my-5">Cost efficient ></h2>
            </a>
            <div class="flex space-x-2 overflow-x-scroll lg:space-x-4 pb-5 lg:pb-10 " style="font-family: Montserrat;">
                {% for property in ce %}
                <a href="prop_view/{{property.id}}">
                    <div class="property w-[180px] h-[310px] lg:w-[250px] lg:h-[428px] flex flex-col relative group">
                        <div class="display h-full w-full overflow-hidden rounded-2xl">
                            <img src="/media/{{property.main_img}}" alt="Beautiful Family Home"
                                class="object-cover object-center w-full h-full group-hover:scale-110 duration-500">
                        </div>
                        <div
                            class="description h-[43%] lg:h-[37%] lg:mt-[111%] w-full space-y-2 px-2 py-1 mt-[100%] absolute backdrop-blur-lg rounded-2xl lg:space-y-4 text-sm">
                            <h2
                                class="font-semibold !text-xl price">
                                ₹ {{ property.price2 }}</h2>
                            <div class="flex gap-x-5 h-6 overflow-hidden text-white">
                                <p> {{ property.title }}</p>
                                <p>|</p>
                                <p>{{ property.bedrooms }}BHK</p>
                            </div>
                            <p class="text-white"> {{ property.city }}- {{property.zip_code }}</p>
                            <div
                                class="flex justify-between items-center rounded-full border border-black px-2 -mx-1">
                                <span class="text-xs">
                                    More details
                                </span>
                                <span class="group-hover:rotate-[360deg] duration-500">
                                    <img src="/media/icons/arrow.png" alt="" class="h-6">
                                </span>
                            </div>

                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>

        <footer class="bg-gray-900 text-sm bg-opacity-70 text-white p-8 mt-12 font-sans">
            <div class="container mx-auto flex flex-col md:flex-row justify-between">
                <!-- Company Info -->
                <div class="mb-4 md:mb-0">
                    <h2 class="text-lg font-bold">NCPR Homes</h2>
                    <p class="mt-2">Your trusted partner in real estate.</p>
                    <p class="mt-2">© 2024 NCPR Homes. All rights reserved.</p>
                </div>

                <!-- Quick Links -->
                <div class="mb-4 md:mb-0">
                    <h2 class="text-lg font-bold">Quick Links</h2>
                    <ul class="mt-2 space-y-2">
                        <li><a href="/" class="hover:underline">Home</a></li>
                        <li><a href="/about" class="hover:underline">About Us</a></li>
                        <li><a href="/services" class="hover:underline">Services</a></li>
                        <li><a href="/contact" class="hover:underline">Contact</a></li>
                    </ul>
                </div>

                <!-- Social Media Links -->
                <div class="mb-4 md:mb-0">
                    <h2 class="text-lg font-bold">Follow Us</h2>
                    <div class="social-media flex flex-col lg:justify-center lg:items-center space-y-1 mt-2">
                        <a href="https://www.facebook.com/people/NCPR-HOMES/61550468357089/" target="_blank">
                            <img src="/media/icons/facebook.png" alt="" class=" h-6 lg:h-8">
                        </a>
                        <a href="https://www.youtube.com/channel/UCQ5ufNstvJGst642QJCFGwA" target="_blank">
                            <img src="/media/icons/youtube.png" alt="" class=" h-7 lg:h-9   ">
                        </a>
                        <a href="https://www.linkedin.com/company/ncpr-homes/" target="_blank">
                            <img src="/media/icons/linkedin.png" alt="" class=" h-7 lg:h-8">
                    </div>
    
                </div>
            </div>
        </footer>

        <script defer>

            //hamburger code
            document.addEventListener("DOMContentLoaded", function () {
                const hamburger = document.getElementById("hamburger");
                const hamburgerImg = document.getElementById("hamburger-img");
                const hamburgerSvg = document.getElementById("hamburger-svg");
                const svgAnimation = document.getElementById("svg-animation");
                const menu = document.getElementById("menu");
              
                let menuOpen = false; // Track menu state
              
                hamburger.addEventListener("click", function () {
                  if (!menuOpen) {
                    // Open menu with animation
                    menu.classList.remove("hidden");
                    menu.classList.add("fade-in", "backdrop-blur-lg");
              
                    // Switch to SVG and play open animation
                    hamburgerImg.classList.add("hidden");
                    hamburgerSvg.classList.remove("hidden");
                    svgAnimation.setAttribute(
                      "values",
                      "M5 5L12 5L19 5M5 12H19M5 19L12 19L19 19; M5 5L12 12L19 5M12 12H12M5 19L12 12L19 19"
                    );
                    svgAnimation.beginElement();
                  } else {
                    // Close menu with reverse animation
                    menu.classList.add("fade-out");
                    menu.classList.remove("fade-in");
                    setTimeout(() => {
                      menu.classList.add("hidden");
                      menu.classList.remove("fade-out", "backdrop-blur-lg");
                    }, 300); // Match the fade-out animation duration
              
                    // Switch to SVG and play reverse animation
                    svgAnimation.setAttribute(
                      "values",
                      "M5 5L12 12L19 5M12 12H12M5 19L12 12L19 19; M5 5L12 5L19 5M5 12H19M5 19L12 19L19 19"
                    );
                    svgAnimation.beginElement();
                  }
              
                  // Toggle menu state
                  menuOpen = !menuOpen;
                });
              });
              

            //animated text code 

            const texts = ["Finding Homes?", "Feeling confused?", "Try NCPR!"];
            let textIndex = 0;
            let charIndex = 0;
            const typingSpeed = 150;
            const erasingSpeed = 75;
            const delayBetweenTexts = 2000;
            const typingContent = document.getElementById("typing-content");

            // Calculate the longest text length
            const longestTextLength = Math.max(...texts.map(text => text.length));

            // Set the min-width of the typing-content span to match the longest text
            typingContent.style.minWidth = `${longestTextLength}ch`;

            function type() {
                if (charIndex < texts[textIndex].length) {
                    typingContent.textContent += texts[textIndex].charAt(charIndex);
                    charIndex++;
                    setTimeout(type, typingSpeed);
                } else {
                    setTimeout(erase, delayBetweenTexts);
                }
            }

            function erase() {
                if (charIndex > 0) {
                    typingContent.textContent = texts[textIndex].substring(0, charIndex - 1);
                    charIndex--;
                    setTimeout(erase, erasingSpeed);
                } else {
                    textIndex = (textIndex + 1) % texts.length; // Cycle through the texts array
                    setTimeout(type, typingSpeed + 1100);
                }
            }

            document.addEventListener("DOMContentLoaded", function () {
                setTimeout(type, delayBetweenTexts);
            });

        </script>
</body>

</html>