{%extends 'basic.html'%}
{%block body%}
{%load static%}


<div class="projects">
    <div class="property-list">
        {% for property in properties %}
            <div class="property">
                <a href="/main/prop_view/{{property.id}}"><h2>{{ property.title }}</h2></a>
                <p>{{ property.description }}</p>
                <p><strong>Price:</strong> Rs.{{ property.price }}</p>
                <p><strong>Location:</strong> {{ property.address }}, {{ property.city.name }}, {{ property.state }} {{ property.zip_code }}</p>
                <p><strong>Type:</strong> {{ property.get_property_type_display }}</p>
                <p><strong>Bedrooms:</strong> {{ property.bedrooms }}</p>
                <p><strong>Bathrooms:</strong> {{ property.bathrooms }}</p>
                <p><strong>Square Feet:</strong> {{ property.square_feet }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{%endblock%}