{%extends 'basic.html'%}
{%block body%}
{% load static tailwind_tags %}
{% tailwind_css %}
{%load static%}


<div class="projects m-2">
    <h2 class=" text-lg ml-2 text-white my-6 ">Your Search Results > </h2>
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 justify-center gap-2 overflow-y-scroll">
        {% for property in properties %}
        <a href="/main/prop_view/{{property.id}}">
            <div class="property w-[200px] h-[345px] lg:w-[25vw] lg:h-[20vw] flex flex-col relative group">
                <div class="display h-full w-full overflow-hidden rounded-3xl">
                    <img src="/media/{{property.main_img}}" alt="Beautiful Family Home"
                        class="object-cover object-center w-full h-full group-hover:scale-110 duration-500">
                </div>
                <div class="description h-[41%] w-full space-y-2 px-2 mt-[102%] absolute backdrop-blur-lg rounded-3xl">
                    <h2 class="font-semibold bg-gradient-to-br from-white from-[-1rem] via-gray-900 via-50% to-black  bg-clip-text text-transparent text-2xl price"> ₹ {{ property.price }}</h2>
                    <div class="flex gap-x-5 h-6 overflow-hidden text-white">
                        <p> {{ property.title }}</p>
                        <p>|</p>
                        <p>{{ property.bedrooms }}BHK</p>
                    </div>  
                    <p class="text-white"> {{ property.city }}- {{property.zip_code }}</p>
                    <div class="flex justify-between items-center rounded-3xl border border-black px-2 -mx-1 py-[2px]">
                        <span>
                            More details
                        </span>
                        <span class="group-hover:rotate-[360deg] duration-500">
                            <img src="/media/icons/arrow.png" alt="" class="h-6">
                        </span>
                    </div>

                </div>
            </div>
        </a>

        {% endfor %}
    </div>
</div>
{%endblock%}