<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Property</title>
    <link rel="stylesheet" href="{%static 'css/prop_view.css' %}">
</head>
<body>
    <div class="property-container">
        <h1 class="property-title">{{prop.title}}</h1>
        <div class="property-image">
            <img src="/media/{{prop.main_img}}" alt="Beautiful Family Home">
        </div>
        <div class="property-details">
            <p><strong>Location:</strong> {{prop.address}}</p>
            <p><strong>Price:</strong>{{prop.price}}</p>
            <p><strong>Bedrooms:</strong>{{prop.bedrooms}}</p>
            <p><strong>Bathrooms:</strong> {{prop.bathrooms}}</p>
            <p><strong>Square Footage:</strong> 2,500 sq ft</p>
            <p><strong>Description:</strong>{{prop.description}}</p>
        </div>
        <div class="property-gallery">
            <h2>More Images</h2>
            <div class="gallery-images">
                <img src="image1.jpg" alt="Property Image 1">
                <img src="image2.jpg" alt="Property Image 2">
                <img src="image3.jpg" alt="Property Image 3">

            </div>
            <div class="google-map">
                <iframe src="{{prop.map_url}}"width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
        </div>
    </div>
</body>
</html>
